unpackaged/main/default/flows/create_cases.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>create_change_case</name>
        <label>create change case</label>
        <locationX>1025</locationX>
        <locationY>127</locationY>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>infoId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Tracking_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_shipping.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>create_incident_case1</name>
        <label>create incident case</label>
        <locationX>895</locationX>
        <locationY>264</locationY>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>incidentCaseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Tracking_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_shipping.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>create_inquiry_case</name>
        <label>create inquiry case</label>
        <locationX>895</locationX>
        <locationY>22</locationY>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inquiryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Tracking_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_shipping.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <constants>
        <name>businessAccountValue</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Business_Account</stringValue>
        </value>
    </constants>
    <constants>
        <name>incidentCaseId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0125e0000000R1XAAU</stringValue>
        </value>
    </constants>
    <constants>
        <name>infoId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0125e0000000R1WAAU</stringValue>
        </value>
    </constants>
    <constants>
        <name>inquiryId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0125e0000000R1YAAU</stringValue>
        </value>
    </constants>
    <constants>
        <name>personAccountValue</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Person_Account</stringValue>
        </value>
    </constants>
    <decisions>
        <name>is_inquiry</name>
        <label>is inquiry</label>
        <locationX>628</locationX>
        <locationY>123</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>crearte_inquiry</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inquiry</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_inquiry_case</targetReference>
            </connector>
            <label>crearte inquiry</label>
        </rules>
        <rules>
            <name>create_change_info_case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Change Information</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_change_case</targetReference>
            </connector>
            <label>create change info case</label>
        </rules>
        <rules>
            <name>create_incident_case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Incident</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_incident_case1</targetReference>
            </connector>
            <label>create incident case</label>
        </rules>
    </decisions>
    <interviewLabel>create cases {!$Flow.CurrentDateTime}</interviewLabel>
    <label>create cases</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_shipping</name>
        <label>get shipping</label>
        <locationX>451</locationX>
        <locationY>125</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>is_inquiry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Subject</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Shipping__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>get_shipping</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Origin</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
