unpackaged/main/default/flows/Set_Record_Types.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Change_Info</name>
        <label>Change Info</label>
        <locationX>854</locationX>
        <locationY>34</locationY>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChangeId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Incident</name>
        <label>Incident</label>
        <locationX>936</locationX>
        <locationY>329</locationY>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IncidentId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Inquiry</name>
        <label>Inquiry</label>
        <locationX>942</locationX>
        <locationY>136</locationY>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Inquiry</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <constants>
        <name>ChangeId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0125e0000000R1WAAU</stringValue>
        </value>
    </constants>
    <constants>
        <name>IncidentId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0125e0000000R1XAAU</stringValue>
        </value>
    </constants>
    <constants>
        <name>Inquiry</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0125e0000000R1YAAU</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Change_Record_Type_To_Info</name>
        <label>Change Record Type To Info</label>
        <locationX>592</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Set_Change_Info_Record_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Change Information</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Info</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Set Change Info Record Type</label>
        </rules>
        <rules>
            <name>Set_Inquiry_Record_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inquiry</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Inquiry</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Set Inquiry Record Type</label>
        </rules>
        <rules>
            <name>Set_Incident_Record_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Incident</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Incident</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Set Incident Record Type</label>
        </rules>
    </decisions>
    <interviewLabel>Set Record Types {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set Record Types</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Change_Record_Type_To_Info</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Change Information</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Incident</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Inquiry</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
